# Notebook Contents:
###    1. Data Types
###    2. Variables
###    3. Constants
###    4. Type Casting

---

# 1. Data Types
<h3><strong> a. String: </strong></h3>
<p>Any words/symbol/numbers which are inserted between SINGLE(' sample_text ') OR DOUBLE(" sample_text ") INVERTED COMMA</p>Example:<br> 

`"India is in Asia"`, 
<br>`'It is dark at Night'`<br>

<h3><strong> b. Integer: </strong></h3>
<p>Any integer numbers (+ve, -ve and 0)</p>
<p>Example: 1, 2, -3, 4, -9, 0 </p>
<br>


<h3><strong> c. Float: </strong></h3>
<p>Numbers with decimals (numbers with decimal point/fraction in format XX.XXXX)</p>
<p>Example: 1., 2.34, 4.56874, -3.231232, -99.1 </p>
<br>


<h3><strong> d. Boolean: </strong></h3>
<p>Binary value either True or False. Usually <strong>True</strong> is considered as <strong>1</strong> and <strong>False</strong> is considered as <strong>0</strong></p>
Example:<br>

`True`, <br>
`False`
<br>


<h3><strong> e. List: </strong></h3>
<p>A mutable array or collection of elements. This collection is enclosed between square brackets "[...]". It can be a list of same data types or different.</p>
Example: <br>

`[1, 2, 3, 4]`,<br>
`['a','b','c','d']`, <br>
`["abc", "xyz", 1, 3.5, True]`
<br>

<h3><strong> f. Tuple: </strong></h3>
<p>An immutable collection of elements. This collection is enclosed between round brackets "(...)". It can be a tuple of same data types or different.</p>
Example: Example:<br>
    
`(1, 2, 3, 4)`,<br> 
`('a','b','c','d')`,<br> 
`("abc", "xyz", 1, 3.5, True)`
<br>

## Note: What is the difference between lists and tuples?
Lists are mutable i.e. the sequence in the list can be changed, elements in the list can be changed/reassigned a new value. These things are not possible in Tuples.

<h3><strong> g. Set: </strong></h3>
<p>It is an unordered collection of unique elements enclosed in curly brackets "{...}"</p>
Example:<br> 

`{1, 2, 3}`,<br> 
`{1, 3.5, "element", False}`
<br>


<h3><strong> h. Dictionary: </strong></h3><p>These consists of a list of <strong>KEY-VALUE</strong> pairs bound within <strong>CURLY BRACKETS ({})</strong>. <br>The KEYS need to be immutable. So LISTs and SETs can NOT be used as KEYs </p>
Example: <br>

`{1: [1,2,3], 2: [4,5,6], 3:[7,8,9]}`, <br>
`{("a","b"):"Hello", "c":1234, (1,2,3):[1,2,True]}` </p>

### Data Types Demo

In [ ]:
# String

In [ ]:
# Integer

In [ ]:
# Float

In [2]:
# Boolean

In [ ]:
# List

In [ ]:
# Tuple

In [ ]:
# Set

In [ ]:
# Dictionary

---

# 2. Variables

1. A variable is a name which points towards a data/value stored.
2. Examples:
    * String: <br>
    `str_var = "What is up everyone?"`<br><br>
    `element1 = 'Summer is a season !'`
    <br><br><br>
    * Integer: <br>
    `int_var = 765`<br><br>
    `element2 = -50`
    <br><br><br>
    * Float: <br>
    `flt_var = 765.`<br><br>
    `element3 = -765.123`
    <br><br><br>
    * Boolean: <br>
    `bool_var = True`<br><br>
    `element4 = False`
    <br><br><br>
    * List: <br>
    `list_var = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]`<br><br>
    `element5 = ["a", "c", "e"]`<br><br><br>
    * Tuple: <br>
    `tuple_var = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")`<br><br>
    `element6 = False`<br><br><br>
    * Set: <br>
    `set_var = {'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}`<br><br>
    `element7 = {1, 2, 3, 4}`<br><br><br>
    * Dictionary: <br>
    `dict_var = {1:"Sunday", 2:"Monday", 3:"Tuesday", 4:"Wednesday", 5:"Thursday", 6:"Friday", 7:"Saturday"}`<br><br>
    `element8 = {"a":[1,2,3], "b":[4, 5, 6]}`
<br>

### Variables Demo

In [ ]:
# String Variables


# f-string

In [ ]:
# Integer Variables

In [ ]:
# Float Variables

In [ ]:
# Boolean Variables

In [ ]:
# List Variables

In [21]:
# Tuple Variables

In [ ]:
# Set Variables

In [ ]:
# Dictionary Variables

---

# 3. Constants

Basically any value which remains CONSTANT and does NOT change.
Usually variables which point towards a CONSTANT value are denoted in UPPERCASE.
<br><br>
Example:<br>
<strong>String:</strong><br>
`STR_CONSTANT = "The sun rises to the east"`

<strong>Integer:</strong><br>
`INT_CONSTANT = 42`

<strong>Float:</strong><br>
`FLT_CONSTANT = 42.67`

<strong>Boolean:</strong><br>
`BOOL_CONSTANT = True`

<strong>List:</strong><br>
`LST_CONSTANT = [1, 2, 3]`

<strong>Tuple:</strong><br>
`TUP_CONSTANT = (1, 2, 3)`

<strong>Set:</strong><br>
`SET_CONSTANT = {2, 1, 3}`

<strong>Dictionary:</strong><br>
`DICT_CONSTANT = {1: "Monday", 2: "Tuesday", 3: "Wednesday"}`

### Constants Demo

In [ ]:
# String Constant

In [ ]:
# Integer Constant

In [ ]:
# Float Constant

In [ ]:
# Boolean Constant

In [ ]:
# List Constant

In [ ]:
# Tuple Constant

In [ ]:
# Set Constant

In [ ]:
# Dictionary Constant

---

# 4. Type Casting

Setting the data type of element or converting COMPATIBLE data from one type to another. 

<br><br><strong>String:</strong> use `str()`<br>
Converts any datatype to string.<br>

Example: convert boolean to string<br>
`bool_var = True
str_var = str(bool_var)`

This gives output as string `'True'`
<br>
<br><br><strong>Integer:</strong> use `int()`<br>
Converts string, float or boolean to integer. Only string values which are whole numbers can be converted directly from string to integer. Decimal values which are in string format need to be first converted to float-format and then to integer.<br>

Example: convert boolean to integer<br>
`bool_var = True
int_var = int(bool_var)`

This `int_var` gives value as `1`
<br>
<br><br><strong>Float:</strong> use `float()`<br>
Converts string, integer or boolean to integer. Only numeric string values can be converted from string to float.<br>

Example: convert boolean to float<br>
`bool_var = True
float_var = float(bool_var)`

This `float_var` gives value as `1.0`
<br>
<br><br><strong>Boolean:</strong> use `bool()`<br>
Converts all datatypes to boolean. <br>
Empty list/ tuple/ set/ dictionary AND integer and float whose value is 0 (i.e. zero) gets converted to False.<br>
Filled list/ tuple/ set/ dictionary AND integer and float whose value is NOT 0 (i.e. non-zero) gets converted to True.

Example: convert integer to boolean<br>
`int_var = 0
bool_var = bool(int_var)`

This `bool_var` gives value as `False`
<br>
<br><br><strong>List:</strong> use `list()`<br>
Converts string, tuple, set and dictionary to list.<br>

Example: convert string to list<br>
`str_var = "Python"
list_var = list(str_var)`

This `list_var` gives value as `["P","y","t","h","o","n"]`
<br>
<br><br><strong>Tuple:</strong> use `tuple()`<br>
Converts string, list, set and dictionary to tuple.<br>

Example: convert string to tuple<br>
`str_var = "Python"
tuple_var = tuple(str_var)`

This `tuple_var` gives value as `("P","y","t","h","o","n")`
<br>
<br><br><strong>Set:</strong> use `set()`<br>
Converts string, list, tuple and dictionary to set.<br>

Example: convert string to tuple<br>
`str_var = "Python"
set_var = set(str_var)`

This `set_var` gives value as `{'P', 'h', 'n', 'o', 't', 'y'}`. Order of elements is not maintained in sets.
<br>
<br><br><strong>Dictionary:</strong> use `dict()`<br>
Converts compatible datasets like pandas dataframe to dictionary.

### Type-casting Demo

In [ ]:
# String Casting

In [ ]:
# Integer Casting

In [ ]:
# Float Casting

In [ ]:
# Boolean Casting

In [ ]:
# List Casting

In [ ]:
# Tuple Casting

In [ ]:
# Set Casting

---

END of the Notebook<br>
Author: Shounak Deshpande (shounak.python@gmail.com)<br>
Youtube: https://www.youtube.com/channel/UCpODmuqv_ljQ_vMYwO71a_g